body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-image: url("/assets/hero.jpg");
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  padding: 10%;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

.header-text {
  color: white;
  font-family: 'Libre Baskerville';
  font-size: 4em;
  
}

.settings {
  padding: 10%;
}

h2 {
  color: green;
  text-align: center;
  font-family: 'Libre Baskerville';
  font-weight: bold;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-input {
  max-width: 60%;
  height: 50px;
  margin: 10px;
  border-bottom: 3px solid green;
  color: black;
  font-weight: normal;
  font-size: 1.2em;
}

.form-input:focus {
  max-width: 60%;
  margin: 10px;
  color: green;
  font-weight: normal;
  font-size: 1.2em;
  
}

.button {
  background: green;
  padding: 10px 30px;
  margin: 10px;
  font-weight: bold;
  color: white;
  border-radius: 5%;
}

ul {
  margin: 6%;
}

li {
  color: green;
  font-size: 1.6em;
  text-align: center;
  
}
